[Unit]
Description=PLAO

[Service]
User=laudelinoas
WorkingDirectory=/opt/PLAO
ExecStart=python3 /opt/PLAO/PLAO2.py
Restart=always

[Install]
WantedBy=multi-user.target